<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acreditacion</title>
    <link rel="stylesheet" href="../Styles/style.css">
    <link rel="stylesheet" href="../Styles/style_acreditacion.css">
</head>

<body>
    <div class="fondo2">
        <div class="contenedor2">
            <div class="caja2">
                <h1>ACREDITACIÓN</h1>
                <p>No elegí la ciberseguridad solo como una profesión; la convertí en mi territorio.
                    Como Ingeniero en Ciberseguridad, aprendí que cada sistema tiene una historia… y cada vulnerabilidad, una verdad oculta.
                    La certificación Certified Ethical Hacker (CEH) marcó el momento en que dejé de observar la seguridad desde afuera y comencé a desafiarla desde dentro.
                    Con Certified Information Security Manager (CISM) entendí que proteger información no es solo tecnología, sino estrategia, visión y liderazgo.
                    Alcanzar la certificación Offensive Security Certified Professional (OSCP) fue demostrar que la disciplina puede superar cualquier barrera digital.
                    Entre líneas de código, pruebas de penetración y noches enteras de investigación, construí mi propio camino dentro del mundo cyber.
                    No busco destruir sistemas; busco entenderlos mejor que nadie para hacerlos más fuertes.
                    Porque en un mundo dominado por la tecnología, mi misión no es solo entrar al sistema… sino
                    convertirme en quien lo protege desde las sombras.</p>
            </div>
            <div class="contenedor_certificados">
                <div class="caja_certificados">
                    <img src="../Assets/certificados/C1.png" alt="Certificado1">
                    <img src="../Assets/certificados/C2.png" alt="Certificado2">
                    <img src="../Assets/certificados/C3.png" alt="Certificado3">
                    <img src="../Assets/certificados/C4.png" alt="Certificado4">
                    <img src="../Assets/certificados/C5.png" alt="Certificado5">
                    <img src="../Assets/certificados/C6.png" alt="Certificado6">
                    <img src="../Assets/certificados/C7.png" alt="Certificado7">
                    <img src="../Assets/certificados/C8.png" alt="Certificado8">
                </div>
            </div>
    </div>>

    </div>
</body>

</html>