
.fondo2{
    height: 100vh;
    width: 100%;
    background-image: url("../Assets/Fondo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    display: flex;
    justify-content: center;
    
}
.contenedor2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
.caja2{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 75%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 70px rgb(255, 255, 255);
    border-radius: 20px;
}
.caja2 p{
    margin: 25px 25px 25px 25px;
    font-size: 18px;
    text-align: center;
    color: rgb(84, 85, 86);
}
.caja2 h1{
    font-size: 25px;
    color: rgba(34, 38, 43, 0.829);
    text-shadow:
        0 0 5px rgb(203, 229, 235),
        0 0 10px rgb(110, 110, 110),
        0 0 20px rgb(149, 241, 241),
        0 0 40px rgb(149, 241, 241);
}

.contenedor_certificados{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40%;

}
.caja_certificados{
    display: flex;
    height: 60%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.76);
    box-shadow: 0 0 70px rgb(255, 255, 255);
    border-radius: 20px;
    justify-content: center;
}

.caja_certificados img{
    margin: 20px;
    display: flex;
    height: 70%;
    
    box-shadow: 0 0 30px rgba(18, 161, 137, 0.76);
}